{
  "trailingComma": "es5",
  "singleQuote": true,
  "tabWidth": 4,
  "semi": true,
  "printWidth": 120,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}