name: ci-cd

on:
  release:
    types:
      - published

jobs:
  cd-release:
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            cd stafffm
            chmod +x deploy.sh && sh deploy.sh